<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <%= stylesheet_link_tag 'application' %>
</head>

<body style="background-color:#F9F9F9;padding-bottom:10px;padding-top:20px;">
  <div style="text-align:center;">
    <%= image_tag attachments['logo.png'].url, style:"height:26px; width:156px;" %>
    <div class="spacer" style="height:20px"></div>
  </div>

  <div style="padding:20px;margin-right:4%;margin-left:4%;background-color:#FFFFFF;">
    <h1 style="color:#28b3fe;">Welcome <%=@user.fname%>!</h1>
    <div style="font-size:16px;line-height:150%;">
      <p>With your noncents account you're on your way to funding the longest vacation of your life (a.k.a. retirement).<br><br>
        For a couple of housekeeping items:</p>
        <ul style="padding-left:5px">
          <li>To use noncents, please ensure the app is installed on your phone and use your email address: <%=@user.email%> to sign in.</li>
          <li>Money transfer is handled by our partner, Dwolla Inc.  In signing up for noncents you've also created an account with them and accepted their privacy policy and <a href="https://www.dwolla.com/legal/tos?whitelabel">TOS</a>.</li>
        </ul>
        <p>If you have any questions, send us a note at feedback@noncents.co.</p>
        <p>Cheers,<br>noncents Team</p>
      </div>
    </div>
    <%= image_tag attachments['divider.png'].url, style:"margin-left:4%;width:92%;margin-top:-25px;"%>
    <div style="text-align:center;padding-top:20px;">
      <p style="text-size:6px;color:#989EA6;line-height:150%;"><a href="http://noncents.co/">noncents</a><br>2660 South La Brea Ave  •  Los Angeles, CA  •  90016</p>
    </div>

  </body>
  </html>
